theortical question

question 1
>> what are data structure,and why are they important?

>>A data structure is a specialized format for organizing, processing, retrieving and storing data. they are important because it have several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose.

questin 2

>>explian the diffrence between mutable and immutable data type with examples.

>>Python data type is categorized into two types:

Mutable Data Type – A mutable data type is one whose values can be changed.
Example: List, Dictionaries, and Set

Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.
Example: String and Tuples

question 3

>>what are the main difference between lists and tuples in python?

>>

List

1	Lists are mutable(can be modified)

2	Iteration over lists is time-consuming.

3	Lists are better for performing operations, such as insertion and deletion.

4	Lists consume more memory.

5	Lists have several built-in methods.	Tuples have fewer built-in methods.

6	Lists are more prone to unexpected changes and errors.	Tuples, being immutable are less error prone.

tuple

1	Tuples are immutable(cannot be modified).

2	Iterations over tuple is faster.

3 Tuples are more suitable for accessing elements efficiently.

4 Tuples consumes less memory.

5 Tuples have fewer built-in methods.

6 Tuples, being immutable are less error prone.

question 4

>>describe how dictionaries store data

>>Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format.

question 5

>>why might you use a set instead of a list in python?

>>Sets and lists are both used to store collections of items in Python, but they have key differences that make them suitable for different purposes. Sets are unordered collections of unique elements, while lists are ordered collections that can contain duplicate elements.

question 6

>>what is a string in python ,and how is it different from a lists?

>>A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

question 7

>>how do tuples ensure data intergrity in python?

>>Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle, preventing accidental or intentional alterations that could compromise data integrity.

question 8

>>what is a harsh table ,and how does it relate to dictionaries in python?

>>A hash table is a data structure that stores key-value pairs, where each key is unique and used to calculate the index for storing the corresponding value. This calculation, known as hashing, allows for efficient data retrieval, insertion, and deletion operations, typically with an average time complexity of O(1).

question 9

>> can lists contain different data types in python?

>>Yes, lists in Python can contain elements of different data types. Python lists are versatile and do not require all elements to be of the same type. A single list can hold integers, strings, floats, booleans, and even other lists or data structures.

question 10

>> explain why stringds are immutable in python?

>> Strings are immutable in Python for reasons related to efficiency, safety, and design principles. Immutability means that once a string is created, its value cannot be changed. Any operation that appears to modify a string actually creates a new string object.

question 11

>> what advantages do dictionaries offer over lists for certain tasks

>>Dictionaries are highly important in Python due to their fast access time and flexibility. They allow for quick data retrieval based on keys, which can significantly speed up the performance of a program, especially when dealing with large datasets.

question 12

>>describe a scenario where using a tuple would be preferable over a lists

>>Tuples are preferred over lists in the following cases:
1 When we want to ensure that data is not changed accidentally. ...
2 When we want faster access to data that will not change as tuples are faster than lists.
3 When we want to use the data as a key in a dictionary. ...
4 When we want to use the data as an element of a set.

question 13

>>how do sets handle duplicate values in python?

>>Sets in Python are designed to store only unique elements. When a user attempts to add a duplicate value to a set, the set automatically discards the duplicate, ensuring that each element appears only once.

question 14

>>how does 'in' keyword work differently for lists and dictionaries?

>>The in operator in Python checks if a specified value exists within a sequence, such as a list, tuple, or string.

question 15

>>can you modify the elements of a tuple?explain why or why not.

>>No, you cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined. Trying to modify a tuple will result in a TypeError.

question 16

>>what is a nested dictionary,and give an example of its use case?

>>A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for the creation of a hierarchical structure where data can be organized into multiple levels. A common use case for nested dictionaries is representing complex,

question 17

>>describe the time complexity of accessing elements in a dictionary.

>>Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average, meaning it takes constant time, regardless of the dictionary's size.

question 18

>>In what situation are lists preferred over dictionaries?

>>If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

question 19

>>why are dictionaries considered unordered,and how does that affect data retrieval?

>>A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. dictionaries did not preserve insertion order at all.

question 20

>>explain the difference between  a list and a dictionary in term of data retrieval.

>>. Lists are ordered collections of items, whereas the dictionary is an unordered collection of data in a key: value pair form. Both lists and dictionaries are mutable, i.e., you can add, edit, delete, or modify the elements.

In [ ]:
#question 1
#write a code to create a string with your name and print it.

name="rishikesh singh"
name

'rishikesh singh'

In [ ]:
type(name)

str

In [ ]:
#question 2
#write the code to find the lenght of the stribg "hello world"
a="hello world"
print(len(a))

11

In [ ]:
#question 3
#write a code to slice the first three character from the string python programming
a="python programming"
a[0:3]

'pyt'

In [ ]:
#question 4
#write a code to covert the string hello to upper case

In [ ]:
str="hello"
print(str.upper())

HELLO

In [ ]:
#question 5
# write a code to replace a word apple with orange in the string "i like apple"

In [ ]:
str="i like apple"
str.replace("apple","orange")

'i like orange'

In [ ]:
#question 6
#write a code to create a list with number 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#question 7
#wirte  a code to append the number 10 to the [1,2,3,4,5]
list = [1,2,3,4,5]
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

In [ ]:
#question 8
#write a code to remove the number 3 from the list[1,2,3,4,5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#question 9
#write a code to access the second elemet in the list[a,b,c,d]
list = ["a","b","c","d"]
print(list[1])

b

In [ ]:
#question 10
#write a code to reverse the list [10,20,30,40,50]
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#question 11
#write a code to create a tuple with the element 100,200,300 and print it
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#question 12
#write a code to access the second -to - last element of the tuple(red,green,blue,yellow)
tuple = ("red","green","blue","yellow")
print(tuple[2])

blue

In [ ]:
#question 13
#write a code to find the minimum number in the tuple[10,20,5,15]
tuple = (10,20,5,15)
print(min(tuple))

5

In [ ]:
#question 14
#write a code to find index of the element "cat" in the tuple("dog","cat","rabbit")
tuple = ("dog","cat","rabbit")
print(tuple.index("cat"))

1

In [ ]:
#question 15
#write a code to create a tuple containing three different fruits and check if kiwi is in it
tuple = ("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [ ]:
#question 16
#write a code to create a set with the elements 'a','b','c' and print it
set = {'a','b','c'}
print(set)

{'b', 'a', 'c'}

In [ ]:
#question 17
#write a code to clear all elements from the set [1,2,3,4,5]
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [ ]:
#question 18
#write a code to remove the element 4 from the set [1,2,3,4]
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#question 19
#write a code to find the union of two sets{,1,2,3} and {3,4,5}
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#question 20
#write a code to find the intersection of two sets {1,2,3}and{2,3,4}
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#question 21
#write a code to create a dictionary with the keys "names","age",and "city", and print it
dict = {"names":"rishikesh","age":20,"city":"lucknow"}
print(dict)

{'names': 'rishikesh', 'age': 20, 'city': 'lucknow'}

In [ ]:
#question 22
#write a code to add a new key-value pair "country":"usa" to the dictonary{'name':'alice','city':"paris"}
dict = {"name":"alice","city":"paris"}
dict["country"] = "usa"
print(dict)

In [ ]:
#question 22
#write a code to access the value associated with the keys"name" int he dictionary{'name':alice,'age':30}
dict = {"name":"alice","age":30}
print(dict["name"])

alice

In [ ]:
#question 24
#write a code to remove the key "age" from the dictionary{'name':'bob','age':22,'city':'new york'}
dict = {"name":"bob","age":22,"city":"new york"}
del dict["age"]
print(dict)

{'name': 'bob', 'city': 'new york'}

In [ ]:
#question 25
#write a code to check if the key "city" exists in the dictionary{'name':'alice','city':'paris'}
dict = {"name":"alice","city":"paris"}
print("city" in dict)

True

In [ ]:
#question 26
#write a code to create a list , a tuple, and a dictionary, and print them all
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dict = {"name":"rishikesh","age":20,"city":"lucknow"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'rishikesh', 'age': 20, 'city': 'lucknow'}

In [ ]:
#question 27
#write a code to create a list of 5 random numbers between 1 and 100,short it in ascending order, and print the result.
import random
list = []
for i in range(5):
    list.append(random.randint(1,100))
list.sort()
print(list)

[2, 36, 40, 54, 57]

In [ ]:
#question 28
#write a code to create a list with strings and print the element at the third index
list = ["rishikesh","singh","is","a","boy"]
print(list[3])

a

In [ ]:
#question 29
#write a code to combine two dictionary into one and print the result
dict1 = {"name":"rishikesh","age":20}
dict2 = {"city":"lucknow","country":"india"}
dict1.update(dict2)
print(dict1)

{'name': 'rishikesh', 'age': 20, 'city': 'lucknow', 'country': 'india'}

In [ ]:
#question 30
#write a code to convert a list of strings into a set.
list = ("rishikesh","singh","is","a","boy")
set = set(list)
print(set)

{'is', 'rishikesh', 'singh', 'boy', 'a'}